#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd

In [125]:
data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)
df.head(1)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [4]:
df.groupby(by=['Branch'])['Total'].sum()

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [21]:
total_profit_by_city = df.groupby('City')['Total'].sum()
top_city = total_profit_by_city.idxmax()
max_profit = total_profit_by_city.max()
print(top_city, max_profit)

Naypyitaw 110568.7065

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [13]:
invoices_by_category = df.pivot_table(index='Branch',columns='Product line', values='Invoice ID', aggfunc='count') 
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викoристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [29]:
branch_with_max_invoices = invoices_by_category['Electronic accessories'].idxmax()
max_invoices = invoices_by_category['Electronic accessories'].max()
print(branch_with_max_invoices, max_invoices)

A 60

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

## 1 Гіпотеза
Дізнаємося кількість постійних покупців по мережам магазинів та порівняємо кого більше.

In [72]:
number_member_customer = df[df['Customer type'] == 'Member']['Branch'].count()
number_normal_customer = df[df['Customer type'] == 'Normal']['Branch'].count()
print(f"{number_member_customer} постійних покупців з картою магазина.")
print(f"{number_normal_customer} покупців без картою магазина.")

501 постійних покупців з картою магазина.
499 покупців без картою магазина.

Давайте дізнаємося чи в кожній мережі така тенденція? Порахуємо Member, Normal по кожній мережі магазинів

In [77]:
customer_type_by_branch = df.groupby(['Customer type','Branch']).size().unstack(fill_value=0)
print(customer_type_by_branch)

Branch           A    B    C
Customer type
Member         167  165  169
Normal         173  167  159

Можемо зробити висновок, що покупці не бачать цінність мати карту лояльності.
Рекомендація магазинам:
1) Зробити промоакції для власників карток.
2) Ціна на товар для власників з картою буде меншою.
3) Спеціальні пропозиції для власника картки по їх покупкам.
Це допоможе збільшити кількість постійних клієнтів, а також якщо реалізувати поради з 2 гіпотези, допоможе покупцям побачити переваги мати картку постійного покупця.

# 2 Гіпотеза
Порахуємо, яку націнку має продавець у відсотках

In [78]:
total_revenue = df.Total.sum()
total_costs = df.cogs.sum()
markup = (total_revenue - total_costs) / total_costs * 100
markup_rounded = round(markup)

In [79]:
print(f"Загальний дохід: {total_revenue}")
print(f"Загальні витрати на товари: {total_costs}")
print(f"Націнка: {markup_rounded}%")

Загальний дохід: 322966.749
Загальні витрати на товари: 307587.38
Націнка: 5%

Це дуже низька націнка, зазвичай рітейл магазини мають націнку від 20% - 50%
Після вирахування всіх витрат, прибутку може і не бути взагалі.
Рекомендації магазину:
1) Переглянути ціни на свої товари і підвищити їх.
2) Можна зменшити витрати на оренду (знайти інше приміщення), скоротити витрати на логістику, змінити постачатьників, зробити каси обслуговування, щоб зменшити витрати на касирах, розглянути можливість онлайн магазину.

## 3 Гіпотеза
Який рейтинг має наш магазину серед наших клієнтів? Чи постійні клієнти оцінюють магазин краще?

In [122]:
rating_by_customer_type = df.groupby('Customer type')['Rating'].agg(['min', 'max', 'mean']).round(2)
print(rating_by_customer_type)

               min   max  mean
Customer type
Member         4.0  10.0  6.94
Normal         4.0  10.0  7.01

Тепер можемо краще проаналізувати ситуацію взяти до уваги і 1 гіпотезу, дійсно клієнти не бачать переваг мати карту постійного покупця.

In [123]:
max_ratings_count = df[df['Rating'] == df['Rating'].max()]['Customer type'].value_counts()
print(max_ratings_count)

Customer type
Normal    3
Member    2
Name: count, dtype: int64

In [124]:
min_ratings_count = df[df['Rating'] == df['Rating'].min()]['Customer type'].value_counts()
print(min_ratings_count)

Customer type
Member    7
Normal    4
Name: count, dtype: int64

Бачимо, що найнижчих оцінок більше і також їч більше серед наших покупців з картою, тому поради магазину:
1) Покращити програму лояльності.
2) Читати відгуки клієнтів і виправляти недоліки.
3) Поганий відгук = спроба змінити думку клієнта, щоб в кінечному результаті клієнт залишився у виграші. Запропонувати повернення, бонус, знижку і т.п.
Якщо клієнт у виграші, то і магазин також, тому що клієнт нам довіряє, впевнений в якості, буде рекомендувати наш магазин і здійснювати покупки саме в нашому магазині в довгій перспективі.