#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd

In [125]:
data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)
df.head(1)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [4]:
df.groupby(by=['Branch'])['Total'].sum()

Branch
A    106200.3705
B    106197.6720
C    110568.7065
Name: Total, dtype: float64

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [21]:
total_profit_by_city = df.groupby('City')['Total'].sum()
top_city = total_profit_by_city.idxmax()
max_profit = total_profit_by_city.max()
print(top_city, max_profit)

Naypyitaw 110568.7065

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [13]:
invoices_by_category = df.pivot_table(index='Branch',columns='Product line', values='Invoice ID', aggfunc='count') 
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫o—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [29]:
branch_with_max_invoices = invoices_by_category['Electronic accessories'].idxmax()
max_invoices = invoices_by_category['Electronic accessories'].max()
print(branch_with_max_invoices, max_invoices)

A 60

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

## 1 –ì—ñ–ø–æ—Ç–µ–∑–∞
–î—ñ–∑–Ω–∞—î–º–æ—Å—è –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ—Å—Ç—ñ–π–Ω–∏—Ö –ø–æ–∫—É–ø—Ü—ñ–≤ –ø–æ –º–µ—Ä–µ–∂–∞–º –º–∞–≥–∞–∑–∏–Ω—ñ–≤ —Ç–∞ –ø–æ—Ä—ñ–≤–Ω—è—î–º–æ –∫–æ–≥–æ –±—ñ–ª—å—à–µ.

In [72]:
number_member_customer = df[df['Customer type'] == 'Member']['Branch'].count()
number_normal_customer = df[df['Customer type'] == 'Normal']['Branch'].count()
print(f"{number_member_customer} –ø–æ—Å—Ç—ñ–π–Ω–∏—Ö –ø–æ–∫—É–ø—Ü—ñ–≤ –∑ –∫–∞—Ä—Ç–æ—é –º–∞–≥–∞–∑–∏–Ω–∞.")
print(f"{number_normal_customer} –ø–æ–∫—É–ø—Ü—ñ–≤ –±–µ–∑ –∫–∞—Ä—Ç–æ—é –º–∞–≥–∞–∑–∏–Ω–∞.")

501 –ø–æ—Å—Ç—ñ–π–Ω–∏—Ö –ø–æ–∫—É–ø—Ü—ñ–≤ –∑ –∫–∞—Ä—Ç–æ—é –º–∞–≥–∞–∑–∏–Ω–∞.
499 –ø–æ–∫—É–ø—Ü—ñ–≤ –±–µ–∑ –∫–∞—Ä—Ç–æ—é –º–∞–≥–∞–∑–∏–Ω–∞.

–î–∞–≤–∞–π—Ç–µ –¥—ñ–∑–Ω–∞—î–º–æ—Å—è —á–∏ –≤ –∫–æ–∂–Ω—ñ–π –º–µ—Ä–µ–∂—ñ —Ç–∞–∫–∞ —Ç–µ–Ω–¥–µ–Ω—Ü—ñ—è? –ü–æ—Ä–∞—Ö—É—î–º–æ Member, Normal –ø–æ –∫–æ–∂–Ω—ñ–π –º–µ—Ä–µ–∂—ñ –º–∞–≥–∞–∑–∏–Ω—ñ–≤

In [77]:
customer_type_by_branch = df.groupby(['Customer type','Branch']).size().unstack(fill_value=0)
print(customer_type_by_branch)

Branch           A    B    C
Customer type
Member         167  165  169
Normal         173  167  159

–ú–æ–∂–µ–º–æ –∑—Ä–æ–±–∏—Ç–∏ –≤–∏—Å–Ω–æ–≤–æ–∫, —â–æ –ø–æ–∫—É–ø—Ü—ñ –Ω–µ –±–∞—á–∞—Ç—å —Ü—ñ–Ω–Ω—ñ—Å—Ç—å –º–∞—Ç–∏ –∫–∞—Ä—Ç—É –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ.
–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—è –º–∞–≥–∞–∑–∏–Ω–∞–º:
1) –ó—Ä–æ–±–∏—Ç–∏ –ø—Ä–æ–º–æ–∞–∫—Ü—ñ—ó –¥–ª—è –≤–ª–∞—Å–Ω–∏–∫—ñ–≤ –∫–∞—Ä—Ç–æ–∫.
2) –¶—ñ–Ω–∞ –Ω–∞ —Ç–æ–≤–∞—Ä –¥–ª—è –≤–ª–∞—Å–Ω–∏–∫—ñ–≤ –∑ –∫–∞—Ä—Ç–æ—é –±—É–¥–µ –º–µ–Ω—à–æ—é.
3) –°–ø–µ—Ü—ñ–∞–ª—å–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó –¥–ª—è –≤–ª–∞—Å–Ω–∏–∫–∞ –∫–∞—Ä—Ç–∫–∏ –ø–æ —ó—Ö –ø–æ–∫—É–ø–∫–∞–º.
–¶–µ –¥–æ–ø–æ–º–æ–∂–µ –∑–±—ñ–ª—å—à–∏—Ç–∏ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø–æ—Å—Ç—ñ–π–Ω–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤, –∞ —Ç–∞–∫–æ–∂ —è–∫—â–æ —Ä–µ–∞–ª—ñ–∑—É–≤–∞—Ç–∏ –ø–æ—Ä–∞–¥–∏ –∑ 2 –≥—ñ–ø–æ—Ç–µ–∑–∏, –¥–æ–ø–æ–º–æ–∂–µ –ø–æ–∫—É–ø—Ü—è–º –ø–æ–±–∞—á–∏—Ç–∏ –ø–µ—Ä–µ–≤–∞–≥–∏ –º–∞—Ç–∏ –∫–∞—Ä—Ç–∫—É –ø–æ—Å—Ç—ñ–π–Ω–æ–≥–æ –ø–æ–∫—É–ø—Ü—è.

# 2 –ì—ñ–ø–æ—Ç–µ–∑–∞
–ü–æ—Ä–∞—Ö—É—î–º–æ, —è–∫—É –Ω–∞—Ü—ñ–Ω–∫—É –º–∞—î –ø—Ä–æ–¥–∞–≤–µ—Ü—å —É –≤—ñ–¥—Å–æ—Ç–∫–∞—Ö

In [78]:
total_revenue = df.Total.sum()
total_costs = df.cogs.sum()
markup = (total_revenue - total_costs) / total_costs * 100
markup_rounded = round(markup)

In [79]:
print(f"–ó–∞–≥–∞–ª—å–Ω–∏–π –¥–æ—Ö—ñ–¥: {total_revenue}")
print(f"–ó–∞–≥–∞–ª—å–Ω—ñ –≤–∏—Ç—Ä–∞—Ç–∏ –Ω–∞ —Ç–æ–≤–∞—Ä–∏: {total_costs}")
print(f"–ù–∞—Ü—ñ–Ω–∫–∞: {markup_rounded}%")

–ó–∞–≥–∞–ª—å–Ω–∏–π –¥–æ—Ö—ñ–¥: 322966.749
–ó–∞–≥–∞–ª—å–Ω—ñ –≤–∏—Ç—Ä–∞—Ç–∏ –Ω–∞ —Ç–æ–≤–∞—Ä–∏: 307587.38
–ù–∞—Ü—ñ–Ω–∫–∞: 5%

–¶–µ –¥—É–∂–µ –Ω–∏–∑—å–∫–∞ –Ω–∞—Ü—ñ–Ω–∫–∞, –∑–∞–∑–≤–∏—á–∞–π —Ä—ñ—Ç–µ–π–ª –º–∞–≥–∞–∑–∏–Ω–∏ –º–∞—é—Ç—å –Ω–∞—Ü—ñ–Ω–∫—É –≤—ñ–¥ 20% - 50%
–ü—ñ—Å–ª—è –≤–∏—Ä–∞—Ö—É–≤–∞–Ω–Ω—è –≤—Å—ñ—Ö –≤–∏—Ç—Ä–∞—Ç, –ø—Ä–∏–±—É—Ç–∫—É –º–æ–∂–µ —ñ –Ω–µ –±—É—Ç–∏ –≤–∑–∞–≥–∞–ª—ñ.
–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –º–∞–≥–∞–∑–∏–Ω—É:
1) –ü–µ—Ä–µ–≥–ª—è–Ω—É—Ç–∏ —Ü—ñ–Ω–∏ –Ω–∞ —Å–≤–æ—ó —Ç–æ–≤–∞—Ä–∏ —ñ –ø—ñ–¥–≤–∏—â–∏—Ç–∏ —ó—Ö.
2) –ú–æ–∂–Ω–∞ –∑–º–µ–Ω—à–∏—Ç–∏ –≤–∏—Ç—Ä–∞—Ç–∏ –Ω–∞ –æ—Ä–µ–Ω–¥—É (–∑–Ω–∞–π—Ç–∏ —ñ–Ω—à–µ –ø—Ä–∏–º—ñ—â–µ–Ω–Ω—è), —Å–∫–æ—Ä–æ—Ç–∏—Ç–∏ –≤–∏—Ç—Ä–∞—Ç–∏ –Ω–∞ –ª–æ–≥—ñ—Å—Ç–∏–∫—É, –∑–º—ñ–Ω–∏—Ç–∏ –ø–æ—Å—Ç–∞—á–∞—Ç—å–Ω–∏–∫—ñ–≤, –∑—Ä–æ–±–∏—Ç–∏ –∫–∞—Å–∏ –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è, —â–æ–± –∑–º–µ–Ω—à–∏—Ç–∏ –≤–∏—Ç—Ä–∞—Ç–∏ –Ω–∞ –∫–∞—Å–∏—Ä–∞—Ö, —Ä–æ–∑–≥–ª—è–Ω—É—Ç–∏ –º–æ–∂–ª–∏–≤—ñ—Å—Ç—å –æ–Ω–ª–∞–π–Ω –º–∞–≥–∞–∑–∏–Ω—É.

## 3 –ì—ñ–ø–æ—Ç–µ–∑–∞
–Ø–∫–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –º–∞—î –Ω–∞—à –º–∞–≥–∞–∑–∏–Ω—É —Å–µ—Ä–µ–¥ –Ω–∞—à–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤? –ß–∏ –ø–æ—Å—Ç—ñ–π–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏ –æ—Ü—ñ–Ω—é—é—Ç—å –º–∞–≥–∞–∑–∏–Ω –∫—Ä–∞—â–µ?

In [122]:
rating_by_customer_type = df.groupby('Customer type')['Rating'].agg(['min', 'max', 'mean']).round(2)
print(rating_by_customer_type)

               min   max  mean
Customer type
Member         4.0  10.0  6.94
Normal         4.0  10.0  7.01

–¢–µ–ø–µ—Ä –º–æ–∂–µ–º–æ –∫—Ä–∞—â–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏ —Å–∏—Ç—É–∞—Ü—ñ—é –≤–∑—è—Ç–∏ –¥–æ —É–≤–∞–≥–∏ —ñ 1 –≥—ñ–ø–æ—Ç–µ–∑—É, –¥—ñ–π—Å–Ω–æ –∫–ª—ñ—î–Ω—Ç–∏ –Ω–µ –±–∞—á–∞—Ç—å –ø–µ—Ä–µ–≤–∞–≥ –º–∞—Ç–∏ –∫–∞—Ä—Ç—É –ø–æ—Å—Ç—ñ–π–Ω–æ–≥–æ –ø–æ–∫—É–ø—Ü—è.

In [123]:
max_ratings_count = df[df['Rating'] == df['Rating'].max()]['Customer type'].value_counts()
print(max_ratings_count)

Customer type
Normal    3
Member    2
Name: count, dtype: int64

In [124]:
min_ratings_count = df[df['Rating'] == df['Rating'].min()]['Customer type'].value_counts()
print(min_ratings_count)

Customer type
Member    7
Normal    4
Name: count, dtype: int64

–ë–∞—á–∏–º–æ, —â–æ –Ω–∞–π–Ω–∏–∂—á–∏—Ö –æ—Ü—ñ–Ω–æ–∫ –±—ñ–ª—å—à–µ —ñ —Ç–∞–∫–æ–∂ —ó—á –±—ñ–ª—å—à–µ —Å–µ—Ä–µ–¥ –Ω–∞—à–∏—Ö –ø–æ–∫—É–ø—Ü—ñ–≤ –∑ –∫–∞—Ä—Ç–æ—é, —Ç–æ–º—É –ø–æ—Ä–∞–¥–∏ –º–∞–≥–∞–∑–∏–Ω—É:
1) –ü–æ–∫—Ä–∞—â–∏—Ç–∏ –ø—Ä–æ–≥—Ä–∞–º—É –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ.
2) –ß–∏—Ç–∞—Ç–∏ –≤—ñ–¥–≥—É–∫–∏ –∫–ª—ñ—î–Ω—Ç—ñ–≤ —ñ –≤–∏–ø—Ä–∞–≤–ª—è—Ç–∏ –Ω–µ–¥–æ–ª—ñ–∫–∏.
3) –ü–æ–≥–∞–Ω–∏–π –≤—ñ–¥–≥—É–∫ = —Å–ø—Ä–æ–±–∞ –∑–º—ñ–Ω–∏—Ç–∏ –¥—É–º–∫—É –∫–ª—ñ—î–Ω—Ç–∞, —â–æ–± –≤ –∫—ñ–Ω–µ—á–Ω–æ–º—É —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ñ –∫–ª—ñ—î–Ω—Ç –∑–∞–ª–∏—à–∏–≤—Å—è —É –≤–∏–≥—Ä–∞—à—ñ. –ó–∞–ø—Ä–æ–ø–æ–Ω—É–≤–∞—Ç–∏ –ø–æ–≤–µ—Ä–Ω–µ–Ω–Ω—è, –±–æ–Ω—É—Å, –∑–Ω–∏–∂–∫—É —ñ —Ç.–ø.
–Ø–∫—â–æ –∫–ª—ñ—î–Ω—Ç —É –≤–∏–≥—Ä–∞—à—ñ, —Ç–æ —ñ –º–∞–≥–∞–∑–∏–Ω —Ç–∞–∫–æ–∂, —Ç–æ–º—É —â–æ –∫–ª—ñ—î–Ω—Ç –Ω–∞–º –¥–æ–≤—ñ—Ä—è—î, –≤–ø–µ–≤–Ω–µ–Ω–∏–π –≤ —è–∫–æ—Å—Ç—ñ, –±—É–¥–µ —Ä–µ–∫–æ–º–µ–Ω–¥—É–≤–∞—Ç–∏ –Ω–∞—à –º–∞–≥–∞–∑–∏–Ω —ñ –∑–¥—ñ–π—Å–Ω—é–≤–∞—Ç–∏ –ø–æ–∫—É–ø–∫–∏ —Å–∞–º–µ –≤ –Ω–∞—à–æ–º—É –º–∞–≥–∞–∑–∏–Ω—ñ –≤ –¥–æ–≤–≥—ñ–π –ø–µ—Ä—Å–ø–µ–∫—Ç–∏–≤—ñ.